/*
InvoicePDFs

InvoicePDFs turns a JSON document into a polished PDF — invoices, credit notes, quotes, receipts, proformas, purchase orders and delivery notes. The API validates your data, computes totals correctly (tax, discounts, shipping), and returns a downloadable, professional PDF.  This package is the official client for the InvoicePDFs API, generated from the OpenAPI specification.  Documentation: https://invoicepdfs.com

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package invoicepdfs

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DeliveriesAPIService DeliveriesAPI service
type DeliveriesAPIService service

type ApiGetDeliveryApiV1DeliveriesDeliveryIdGetRequest struct {
	ctx context.Context
	ApiService *DeliveriesAPIService
	deliveryId string
}

func (r ApiGetDeliveryApiV1DeliveriesDeliveryIdGetRequest) Execute() (*DeliveryResponse, *http.Response, error) {
	return r.ApiService.GetDeliveryApiV1DeliveriesDeliveryIdGetExecute(r)
}

/*
GetDeliveryApiV1DeliveriesDeliveryIdGet Get Delivery

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deliveryId
 @return ApiGetDeliveryApiV1DeliveriesDeliveryIdGetRequest
*/
func (a *DeliveriesAPIService) GetDeliveryApiV1DeliveriesDeliveryIdGet(ctx context.Context, deliveryId string) ApiGetDeliveryApiV1DeliveriesDeliveryIdGetRequest {
	return ApiGetDeliveryApiV1DeliveriesDeliveryIdGetRequest{
		ApiService: a,
		ctx: ctx,
		deliveryId: deliveryId,
	}
}

// Execute executes the request
//  @return DeliveryResponse
func (a *DeliveriesAPIService) GetDeliveryApiV1DeliveriesDeliveryIdGetExecute(r ApiGetDeliveryApiV1DeliveriesDeliveryIdGetRequest) (*DeliveryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeliveryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeliveriesAPIService.GetDeliveryApiV1DeliveriesDeliveryIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/deliveries/{delivery_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"delivery_id"+"}", url.PathEscape(parameterValueToString(r.deliveryId, "deliveryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetryDeliveryApiV1DeliveriesDeliveryIdRetryPostRequest struct {
	ctx context.Context
	ApiService *DeliveriesAPIService
	deliveryId string
}

func (r ApiRetryDeliveryApiV1DeliveriesDeliveryIdRetryPostRequest) Execute() (*DeliveryResponse, *http.Response, error) {
	return r.ApiService.RetryDeliveryApiV1DeliveriesDeliveryIdRetryPostExecute(r)
}

/*
RetryDeliveryApiV1DeliveriesDeliveryIdRetryPost Retry Delivery

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deliveryId
 @return ApiRetryDeliveryApiV1DeliveriesDeliveryIdRetryPostRequest
*/
func (a *DeliveriesAPIService) RetryDeliveryApiV1DeliveriesDeliveryIdRetryPost(ctx context.Context, deliveryId string) ApiRetryDeliveryApiV1DeliveriesDeliveryIdRetryPostRequest {
	return ApiRetryDeliveryApiV1DeliveriesDeliveryIdRetryPostRequest{
		ApiService: a,
		ctx: ctx,
		deliveryId: deliveryId,
	}
}

// Execute executes the request
//  @return DeliveryResponse
func (a *DeliveriesAPIService) RetryDeliveryApiV1DeliveriesDeliveryIdRetryPostExecute(r ApiRetryDeliveryApiV1DeliveriesDeliveryIdRetryPostRequest) (*DeliveryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeliveryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeliveriesAPIService.RetryDeliveryApiV1DeliveriesDeliveryIdRetryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/deliveries/{delivery_id}/retry"
	localVarPath = strings.Replace(localVarPath, "{"+"delivery_id"+"}", url.PathEscape(parameterValueToString(r.deliveryId, "deliveryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
